@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="width:100%;padding:20px 0 20px 0; background-color:black;color:white">Leave Management System With ASP.Net Core</h1>
    
</div>
<hr />
<div class="jumbotron">
    
    <p>Learn About</p>
    <ul>
        <li>.Net Core</li>
        <li>View Model and Auto Mapper</li>
        <li>Entity Framework</li>
        <li>Dependency injection</li>
        <li>Repository Pattern</li>
        <li>Identity and Authorization</li>
        <li>Bootstrap 4 and AdminLTE</li>
        <li>Client and Server side validation</li>
    </ul>
</div>
